In [1]:
import os
import plaid
import requests
import datetime
import json
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize
%matplotlib inline

In [2]:
def pretty_print_response(response):
    print(json.dumps(response, indent=4, sort_keys=True))

In [3]:
PLAID_CLIENT_ID = os.getenv('PLAID_CLIENT_ID')
PLAID_SBX_SECRET_KEY = os.getenv('PLAID_SBX_SECRET_KEY')
PLAID_PUBLIC_KEY = os.getenv('PLAID_PUBLIC_KEY')
PLAID_ENV = os.getenv('PLAID_ENV', 'sandbox')
PLAID_PRODUCTS = os.getenv('PLAID_PRODUCTS', 'transactions')

In [4]:
print(len(PLAID_CLIENT_ID))
print(len(PLAID_PUBLIC_KEY))
print(len(PLAID_SBX_SECRET_KEY))

24
30
30

# Plaid Access Token

In this section, you will use the plaid-python api to generate the correct authentication tokens to access data in the free developer Sandbox. This mimics how you might connect to your own account or a customer account, but due to privacy issues, this homework will only require connecting to and analyzing the fake data from the developer sandbox that Plaid provides. 

Complete the following steps to generate an access token:
1. Create a client to connect to paid
2. Use the client to generate a public token and request the following items: 
['transactions', 'income', 'assets']
3. Exchange the public token for an access token
4. Test the access token by requesting and printing the available test accounts

### 1. Create a client to connect to plaid

In [5]:
# Create client object
client = plaid.Client(client_id=PLAID_CLIENT_ID, secret=PLAID_SBX_SECRET_KEY, public_key=PLAID_PUBLIC_KEY, environment= 'sandbox')

In [6]:
#select an institution for processing
INSTITUTION_ID = "ins_109508"

# Create public token to be exchanged for institution access token
create_tkn_response = client.Sandbox.public_token.create(INSTITUTION_ID, ['transactions','income','assets'])

# Exchange public token for access token
exchange_response = client.Item.public_token.exchange(create_tkn_response['public_token'])

# Store access token as variable
access_token = exchange_response['access_token']

### 2. Generate a public token

### 3. Exchange the public token for an access token

### 4. Fetch Accounts

In [7]:
# Get accounts associated with institution
account_response = client.Accounts.get(access_token)
account_response

{'accounts': [{'account_id': 'LEondmk1beC1lX5xlGbKTDK9DedVkVFP8R1KM',
   'balances': {'available': 100,
    'current': 110,
    'iso_currency_code': 'USD',
    'limit': None,
    'unofficial_currency_code': None},
   'mask': '0000',
   'name': 'Plaid Checking',
   'official_name': 'Plaid Gold Standard 0% Interest Checking',
   'subtype': 'checking',
   'type': 'depository'},
  {'account_id': 'po9ErqBjXQHxqgzoq8EkUQV9Qq51x1TLgWBjd',
   'balances': {'available': 200,
    'current': 210,
    'iso_currency_code': 'USD',
    'limit': None,
    'unofficial_currency_code': None},
   'mask': '1111',
   'name': 'Plaid Saving',
   'official_name': 'Plaid Silver Standard 0.1% Interest Saving',
   'subtype': 'savings',
   'type': 'depository'},
  {'account_id': 'op98KlzPLeh3l9rpl8GkT46J4PNabauR9zg5P',
   'balances': {'available': None,
    'current': 1000,
    'iso_currency_code': 'USD',
    'limit': None,
    'unofficial_currency_code': None},
   'mask': '2222',
   'name': 'Plaid CD',
   'official_name': 'Plaid Bronze Standard 0.2% Interest CD',
   'subtype': 'cd',
   'type': 'depository'},
  {'account_id': 'gjkQREgzJxI9vyejvVENHlnEl3mDVDcgDwzRZ',
   'balances': {'available': None,
    'current': 410,
    'iso_currency_code': 'USD',
    'limit': 2000,
    'unofficial_currency_code': None},
   'mask': '3333',
   'name': 'Plaid Credit Card',
   'official_name': 'Plaid Diamond 12.5% APR Interest Credit Card',
   'subtype': 'credit card',
   'type': 'credit'},
  {'account_id': '8BqanNr5RbHX4Ld74NwrCRnlR8vQdQFwaGMpv',
   'balances': {'available': 43200,
    'current': 43200,
    'iso_currency_code': 'USD',
    'limit': None,
    'unofficial_currency_code': None},
   'mask': '4444',
   'name': 'Plaid Money Market',
   'official_name': 'Plaid Platinum Standard 1.85% Interest Money Market',
   'subtype': 'money market',
   'type': 'depository'},
  {'account_id': 'EMvoq8QPrdcPy75ByakGFKWVKlq6y6TXQ1Gej',
   'balances': {'available': None,
    'current': 320.76,
    'iso_currency_code': 'USD',
    'limit': None,
    'unofficial_currency_code': None},
   'mask': '5555',
   'name': 'Plaid IRA',
   'official_name': None,
   'subtype': 'ira',
   'type': 'investment'},
  {'account_id': 'W6zl1axb4WHLR85ZRXk6UpGDpP16B6clMDnyl',
   'balances': {'available': None,
    'current': 23631.9805,
    'iso_currency_code': 'USD',
    'limit': None,
    'unofficial_currency_code': None},
   'mask': '6666',
   'name': 'Plaid 401k',
   'official_name': None,
   'subtype': '401k',
   'type': 'investment'},
  {'account_id': 'A7pMDLPd9ztd65Zx6lKAU1W41Xyq8qf1wdZJ9',
   'balances': {'available': None,
    'current': 65262,
    'iso_currency_code': 'USD',
    'limit': None,
    'unofficial_currency_code': None},
   'mask': '7777',
   'name': 'Plaid Student Loan',
   'official_name': None,
   'subtype': 'student',
   'type': 'loan'}],
 'item': {'available_products': ['auth',
   'balance',
   'credit_details',
   'identity',
   'investments',
   'liabilities'],
  'billed_products': ['assets', 'income', 'transactions'],
  'error': None,
  'institution_id': 'ins_109508',
  'item_id': 'd48jyoLqJzhr1KW41VklUnoR6eydrgcZ1BVpA',
  'webhook': ''},
 'request_id': 'YZUSpt8Ok5rTikk'}

---

In [8]:
account_response.keys()

dict_keys(['accounts', 'item', 'request_id'])

# Account Transactions with Plaid

In this section, you will use the Plaid Python SDK to connect to the Developer Sandbox account and grab a list of transactions. You will need to complete the following steps:


1. Use the access token to fetch the transactions for the last 90 days
2. Print the categories for each transaction type
3. Create a new DataFrame using the following fields from the JSON transaction data: `date, name, amount, category`. (For categories with more than one label, just use the first category label in the list)
4. Convert the data types to the appropriate types (i.e. datetimeindex for the date and float for the amount)

### 1. Fetch the Transactions for the last 90 days

In [10]:
# Get transactions for institution for specific date range
start_date = '{:%Y-%m-%d}'.format(datetime.datetime.now() + datetime.timedelta(-90))
end_date = '{:%Y-%m-%d}'.format(datetime.datetime.now())

# Get transactions for date range
transaction_response = client.Transactions.get(access_token,start_date,end_date)

# Print JSON output
print(json.dumps(transaction_response['transactions'][:2],indent=4, sort_keys=True))
transaction_response.keys()

[
    {
        "account_id": "po9ErqBjXQHxqgzoq8EkUQV9Qq51x1TLgWBjd",
        "account_owner": null,
        "amount": 25,
        "category": [
            "Payment",
            "Credit Card"
        ],
        "category_id": "16001000",
        "date": "2019-09-18",
        "iso_currency_code": "USD",
        "location": {
            "address": null,
            "city": null,
            "country": null,
            "lat": null,
            "lon": null,
            "postal_code": null,
            "region": null,
            "store_number": null
        },
        "name": "CREDIT CARD 3333 PAYMENT *//",
        "payment_meta": {
            "by_order_of": null,
            "payee": null,
            "payer": null,
            "payment_method": null,
            "payment_processor": null,
            "ppd_id": null,
            "reason": null,
            "reference_number": null
        },
        "pending": false,
        "pending_transaction_id": null,
        "transaction_id": "DZVplgeNwkTNZV5oZ4EbSnG5yVQPqNtv8joJR",
        "transaction_type": "special",
        "unofficial_currency_code": null
    },
    {
        "account_id": "LEondmk1beC1lX5xlGbKTDK9DedVkVFP8R1KM",
        "account_owner": null,
        "amount": 5.4,
        "category": [
            "Travel",
            "Car Service",
            "Ride Share"
        ],
        "category_id": "22006001",
        "date": "2019-09-18",
        "iso_currency_code": "USD",
        "location": {
            "address": null,
            "city": null,
            "country": null,
            "lat": null,
            "lon": null,
            "postal_code": null,
            "region": null,
            "store_number": null
        },
        "name": "Uber 063015 SF**POOL**",
        "payment_meta": {
            "by_order_of": null,
            "payee": null,
            "payer": null,
            "payment_method": null,
            "payment_processor": null,
            "ppd_id": null,
            "reason": null,
            "reference_number": null
        },
        "pending": false,
        "pending_transaction_id": null,
        "transaction_id": "ym5vP47obEIvP7jbPw9Biy7gkGbxmlSyQVawe",
        "transaction_type": "special",
        "unofficial_currency_code": null
    }
]

dict_keys(['accounts', 'item', 'request_id', 'total_transactions', 'transactions'])

### 2. Print the categories for each transaction

In [11]:
# Print the categories for each transaction
category_info = client.Transactions.get(access_token,start_date,end_date)
#if transactions in category_info ["transactions"]:
    #if transactions ['name'] == 
#category_info['transactions'][0].key()
print({category
       for transaction in category_info['transactions'] if transaction['category'] is not None
       for category in transaction['category']})

{'Travel', 'Restaurants', 'Deposit', 'Gyms and Fitness Centers', 'Food and Drink', 'Shops', 'Transfer', 'Debit', 'Airlines and Aviation Services', 'Credit', 'Sporting Goods', 'Coffee Shop', 'Ride Share', 'Payment', 'Car Service', 'Recreation', 'Credit Card'}

In [12]:
tracks_df = json_normalize(transaction_response)
tracks_df.tail()

,accounts,request_id,total_transactions,transactions,item.available_products,item.billed_products,item.error,item.institution_id,item.item_id,item.webhook
0,[{'account_id': 'LEondmk1beC1lX5xlGbKTDK9DedVk...,WtHxxkKsqcjxw3z,48,[{'account_id': 'po9ErqBjXQHxqgzoq8EkUQV9Qq51x...,"[auth, balance, credit_details, identity, inve...","[assets, income, transactions]",None,ins_109508,d48jyoLqJzhr1KW41VklUnoR6eydrgcZ1BVpA,

In [13]:
tracks_df = json_normalize(category_info,['transactions'],sep=",")
tracks_df.head()

,account_id,account_owner,amount,category,category_id,date,iso_currency_code,name,pending,pending_transaction_id,...,"location,region","location,store_number","payment_meta,by_order_of","payment_meta,payee","payment_meta,payer","payment_meta,payment_method","payment_meta,payment_processor","payment_meta,ppd_id","payment_meta,reason","payment_meta,reference_number"
0,po9ErqBjXQHxqgzoq8EkUQV9Qq51x1TLgWBjd,None,25.0,"[Payment, Credit Card]",16001000,2019-09-18,USD,CREDIT CARD 3333 PAYMENT *//,False,None,...,None,None,None,None,None,None,None,None,None,None
1,LEondmk1beC1lX5xlGbKTDK9DedVkVFP8R1KM,None,5.4,"[Travel, Car Service, Ride Share]",22006001,2019-09-18,USD,Uber 063015 SF**POOL**,False,None,...,None,None,None,None,None,None,None,None,None,None
2,8BqanNr5RbHX4Ld74NwrCRnlR8vQdQFwaGMpv,None,5850.0,"[Transfer, Debit]",21006000,2019-09-17,USD,ACH Electronic CreditGUSTO PAY 123456,False,None,...,None,None,None,None,None,ACH,None,None,None,None
3,op98KlzPLeh3l9rpl8GkT46J4PNabauR9zg5P,None,1000.0,"[Transfer, Deposit]",21007000,2019-09-17,USD,CD DEPOSIT .INITIAL.,False,None,...,None,None,None,None,None,None,None,None,None,None
4,gjkQREgzJxI9vyejvVENHlnEl3mDVDcgDwzRZ,None,78.5,"[Recreation, Gyms and Fitness Centers]",17018000,2019-09-16,USD,Touchstone Climbing,False,None,...,None,None,None,None,None,None,None,None,None,None

In [14]:
tracks_df.drop(columns=['account_id','account_owner','category_id','iso_currency_code', 'pending','pending_transaction_id','location,region','location,store_number','payment_meta,by_order_of','payment_meta,payee','payment_meta,payer','payment_meta,payment_method',
                        'payment_meta,payment_processor','payment_meta,ppd_id','payment_meta,reason','payment_meta,reference_number','transaction_id','transaction_type','unofficial_currency_code','location,address','location,city','location,country','location,lat'], inplace= True)
              
               
               ###
               
               
               
               
               
               ##

 tracks_df.dropna

In [15]:
tracks_df.head()
tracks_df.drop(columns=['transaction_id','transaction_type','unofficial_currency_code','location,address','location,city','location,country','location,lat','location,lon','location,postal_code'], inplace = True)

### 3. Create a new DataFrame using the following fields from the JSON transaction data: date, name, amount, category. 

(For categories with more than one label, just use the first category label in the list)

In [20]:
tracks_df.head(20)

,amount,category,name
date,,,
2019-09-18,25.00,"[Payment, Credit Card]",CREDIT CARD 3333 PAYMENT *//
2019-09-18,5.40,"[Travel, Car Service, Ride Share]",Uber 063015 SF**POOL**
2019-09-17,5850.00,"[Transfer, Debit]",ACH Electronic CreditGUSTO PAY 123456
2019-09-17,1000.00,"[Transfer, Deposit]",CD DEPOSIT .INITIAL.
2019-09-16,78.50,"[Recreation, Gyms and Fitness Centers]",Touchstone Climbing
2019-09-16,-500.00,"[Travel, Airlines and Aviation Services]",United Airlines
2019-09-15,12.00,"[Food and Drink, Restaurants]",McDonald's
2019-09-15,4.33,"[Food and Drink, Restaurants, Coffee Shop]",Starbucks
2019-09-14,89.40,"[Food and Drink, Restaurants]",SparkFun
2019-09-13,-4.22,"[Transfer, Credit]",INTRST PYMNT
2019-09-03,500.00,"[Travel, Airlines and Aviation Services]",United Airlines
2019-09-01,6.33,"[Travel, Car Service, Ride Share]",Uber 072515 SF**POOL**
2019-08-29,500.00,"[Food and Drink, Restaurants]",Tectra Inc
2019-08-28,2078.50,[Payment],AUTOMATIC PAYMENT - THANK
2019-08-28,500.00,"[Food and Drink, Restaurants]",KFC
2019-08-28,500.00,"[Shops, Sporting Goods]",Madison Bicycle Shop
2019-08-19,25.00,"[Payment, Credit Card]",CREDIT CARD 3333 PAYMENT *//
2019-08-19,5.40,"[Travel, Car Service, Ride Share]",Uber 063015 SF**POOL**
2019-08-18,5850.00,"[Transfer, Debit]",ACH Electronic CreditGUSTO PAY 123456
2019-08-18,1000.00,"[Transfer, Deposit]",CD DEPOSIT .INITIAL.

### 4. Convert the data types to the appropriate types 

(i.e. datetimeindex for the date and float for the amount)

In [ ]:
# YOUR CODE HERE

---

# Income Analysis with Plaid

In this section, you will use the Plaid Sandbox to complete the following:
1. Determine the previous year's gross income and print the results
2. Determine the current monthly income and print the results
3. Determine the projected yearly income and print the results

In [ ]:
# YOUR CODE HERE

---

# Budget Analysis
In this section, you will use the transactions DataFrame to analyze the customer's budget

1. Calculate the total spending per category and print the results (Hint: groupby or count transactions per category)
2. Generate a bar chart with the number of transactions for each category 
3. Calulate the expenses per month
4. Plot the total expenses per month

### Calculate the expenses per category

In [ ]:
# YOUR CODE HERE

### Calculate the expenses per month

In [ ]:
# YOUR CODE HERE